<h1>Season</h1>
<div class="row">
<div class="column col-lg-6">
<h2>Next Games</h2>
<ul class="list-group">
<li ng-repeat="game in games" class="list-group-item">
<div class="row">
<div class="column col-md-5">
<div class="row">
<div class="column col-xs-5">
{{game.homeTeam.name}} </div>
<div class="column col-xs-2">vs.</div>
<div class="column col-xs-5">
{{game.awayTeam.name}} 
</div>
</div>
</div>
<div class="column col-md-3 col-xs-6">
<input type="number" size="2" min="0" class="score"/>:<input type="number" size="2" min="0" class="score"/>
</div>
<div class="column col-md-3 col-xs-6">
<button class="btn btn-md btn-default">Save</button>
</div>
</li>
</ul>
</div>
<div class="column col-lg-6">
<h2>Standings</h2>
<p>Hier brauchen wir ne Tabelle.</p>
</div>
</div>